<div class="col-md-6 m-auto p-3">
    <div class="p-5 text-center p-2">
        <div class="d-flex flex-column">
            <img class="welcome-img" src="https://aux.iconspalace.com/uploads/chat-icon-256-1480184508.png"></img>
            <h2 class="m-3">Welcome to chat</h2>
        </div>
        <div class="mt-5">
            <p class="mb-2">Create an account or login</p>
            <a href="/users/login" class="btn btn-primary btn-block rounded-pill">Login</a>
            <a href="/users/register" class="btn btn-secondary btn-block mb-2 rounded-pill">Register</a>
        </div>
    </div>
</div>