body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    height: 100vh;
}

.chat-messages-container {
    width: 70%;
}

.chat-container,
.room-card,
.dashboard-container {
    border-radius: 5px;
}

.chat-messages {
    overflow: scroll;
}

.chat-form-container {
    height: 2rem;
}


.chatroom-container {
    width: 25%;
}

.welcome-img {
    height: 300px;
    object-fit: contain;
}

.btn-mobile {
    visibility: hidden;
}

.my-message {
    border-radius: 25px;
    background-color: #2294fb;
    color: white;
    margin: 5px;
    padding: 10px 20px;
    margin-left: auto;
    width: fit-content;
}

.your-message {
    border-radius: 25px;
    background-color: #bcc2c7;
    color: rgb(0, 0, 0);
    margin: 5px;
    padding: 10px 20px;
    width: fit-content;
}

@media (max-device-width: 600px) {



    .btn-mobile {
        visibility: visible;
        border-radius: 50%;
    }

    .chatroom-container {
        width: 100%;
    }

    .chat-messages-container {
        width: 100%;
        border: none;
    }

    .photo-upload {
        border: none;
    }

}